{% extends 'layout.html' %}
{% block content %}

<article class="media content-section">
  <img class="rounded-circle article-img" src="{{url_for('static',filename='profilepic/'+post.auther.profile_pic)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.auther.username }}</a>
              <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
            </div>
            {% if post.auther == current_user %}
            <div>
            <a class="btn btn-secondary btn-sm m-1" href="{{url_for('posts.post_update',post_id=post.id)}}">Update</a>
            <a  class="btn btn-danger btn-sm m-1" href="{{url_for('posts.post_delete',post_id=post.id)}}">Delete</a>
            </div>
            {% endif %}
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
          <a class="btn btn-outline-info btn-sm m-1" href="{{url_for('posts.like_post',post_id=post.id)}}">Like</a><b class="text-primary">{{post_liked.like_counter }}</b>
            <a class="btn btn-outline-danger btn-sm m-1" href="{{url_for('posts.dislike_post',post_id=post.id)}}">Dislike</a><b class="text-danger">{{post_liked.dislike_counter }}</b>
        </article>

{% endblock content %}